.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  margin: 0 auto;
  padding: 0;
  justify-items: center;
  list-style: none;
}

.catcher-msg {
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
}

@media (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}